.card-container::-webkit-scrollbar {
  display: none;
}
.card-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 0 1.5rem;
  overflow: scroll;
}

.card {
  width: 175px;
  flex-shrink: 0;
}
.card-image {
  width: 100%;
  position: relative;
}

.card-image p {
  position: absolute;
  font-size: 10px;
  margin: 10px;
  padding: 6px;
  background-color: #fff;
  border-radius: 2px;
}

.card-image img {
  width: 100%;
}

.card-rating img {
  width: 14px;
  margin-right: 2px;
}

.card-rating span {
  font-size: 14px;
  color: #918e9b;
}
.card-price {
  font-weight: 600;
}
.card-price span {
  font-weight: 400;
}
.card-info {
  font-size: 12px;
}
